html, body {
    height: 100vh;
}

body {
    background-color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidecontainerLT {
    color: white;
    position: absolute;
    top: 30px;
    left: 10px;
}

.slidecontainerLB {
    color: white;
    position: absolute;
    top: 130px;
    left: 10px;
}

.slidecontainerRB {
    color: white;
    position: absolute;
    top: 130px;
    left: 350px;
}

.slidecontainerRT {
    color: white;
    position: absolute;
    top: 30px;
    left: 350px;
}

.slidecontainerDL {
    color: white;
    position: absolute;
    top: 230px;
    left: 10px;
}

.slidecontainerDR {
    color: white;
    position: absolute;
    top: 330px;
    left: 10px;
}

.slidecontainerLTBrow {
    color: white;
    position: absolute;
    top: 430px;
    left: 10px;
}

.slidecontainerLBBrow {
    color: white;
    position: absolute;
    top: 530px;
    left: 10px;
}


.slidecontainerRTBrow {
    color: white;
    position: absolute;
    top: 430px;
    left: 350px;
}

.slidecontainerRBBrow {
    color: white;
    position: absolute;
    top: 530px;
    left: 350px;
}

.slidecontainerEyeDir {
    color: white;
    position: absolute;
    top: 630px;
    left: 10px;
}
