html, body {
    height: 100vh;
}

body {
    background-color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emotionTab {
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.emotionTab::-webkit-scrollbar {
    display: none;
}

.emotionButton {
    border-radius: 30px;
    background-color: rgba(33, 137, 255, 0.6);
    color: white;
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    height: 90%;
    width: 240px;
    margin-top: 10px;
    margin-left: 10px;
}